.checkout-form{
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form{
    border-top: dotted 2px #ccc;
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .button-panel{
  justify-content: flex-start;
  gap: 24px;
  }
}

.item-list-checkout{
  .item-header{
    font-weight: unset;
  }
  img{
    max-width: 50px;
  }
}

.order-completion-message, .empty-order-message{
  display: flex;
  gap: 24px;
  flex-direction: column;
}
