.offcanvas-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.item-list {
  list-style-type: none;
  padding: 1rem;
}

li.item{
  display: flex;
  border-bottom: solid 1px #ddd;
  margin-bottom: 12px; 
  gap: 12px;
  padding: 12px 0;
}

.item-media {
  img{
    max-width: 125px;
  }
}

.item-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-header{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 4px;
  }
}

.item-title{
  cursor: pointer;
  font-size: 1rem;
  &:hover{
    filter: invert(1);
  }
}

.item-delete-button{
  cursor: pointer;
}

.amount-in-basket{
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 3px 12px;
}

.quantity-panel{
  display: flex;
  gap: 6px;
  align-items: center;
}

.empty-basket-view{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 12px;
}

.checkout-panel{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  z-index: 2;
}

.part-sum, .vat, .sum, .button-panel{
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.sum{
  border-top: dotted 2px #ccc;
  margin: 6px 0 12px;
}

.offcanvas-body{
  padding: 0 !important;
}
